// colors
$bg-grey-900: rgb(32, 33, 35);
$text-secondary: rgb(110, 110, 128);
$white-transparent: rgba(255,255,255,0.9);
$text-secondary-600: #acacbe;

// fonts


//at rules
.title {
    font-size: 2.25rem;
    color: #202123;
    margin: 8rem 0 4rem 0;
}

.btn {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in;
    background-color: inherit;
    border: 1px solid $text-secondary-600;
    border-radius: 4px;
    &:hover:not(:disabled) {
        background-color: $text-secondary-600;
        color: $white-transparent;
    }
}