@import './styles/styles.scss';

mat-sidenav {
    width: 14%;
    background-color: $bg-grey-900;

    mat-nav-list > a {
        color: rgba(255, 255, 255, 0.9);

        mat-icon {
            margin-right: 0.8rem
        }
    }
}

a {
    @extend .btn;
    font-weight: 600;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: baseline;
    span {
        text-transform: none;
    }
    .mat-icon {
        font-weight: 100;
        font-size: 1.2rem;
    }
    &:hover:not(:disabled) {
        background-color: rgba(32, 33, 35, .8);
    }
}